[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amplify-utils = {editable = true, path = "."}
pyyaml = "*"
aws-lambda-powertools = "*"

[dev-packages]
pytest = "*"
pydantic = "*"
soteria = {git = "https://github.com/isaacsancheza/soteria"}

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
